<a href="" target="_blank"><img src="https://images.credly.com/images/8b943c4b-c186-4e9f-84aa-004322b76eed/image.png" /></a>
<a href="" target="_blank"><img src="https://images.credly.com/images/be6dfc3d-f8a1-4c18-8b16-751600ef61c8/twitter_thumb_201604_CompTIA_Project_2B.png" /></a>



<style>
  img {
    width: 70px;
    filter: grayscale();
  }

  img:hover {
    filter: grayscale(0);
    transition: .4s;
  }
</style>