---
import Title from "../../global/titles/Title.astro";
import Project from '../../../components/global/cards/Project.astro';
---

<section id="projects">
  <div class="container">
    <div id="title-container">
      <Title text="Projects" />
      <div class="filters">
        <i class="fa-solid fa-filter"></i>
        <button class="filter-btn active" id="all">All</button>
        <button class="filter-btn" id="front">front</button>
        <button class="filter-btn" id="back">back</button>
        <button class="filter-btn" id="full">full</button>
      </div>
    </div>
    <div id="projects-container">
      <div class="item front">
        <Project 
          title="Frontend project" 
          description="Description gjeklg rjgeior gjkiorg kerop." 
        />
      </div>
      <div class="item back">
        <Project 
          title="Backend project" 
          description="Description gjeklg rjgeior gjkiorg kerop ghui ghreuig rehuig heruig ejgilioj gerigojr geiojg jigero." 
        />
      </div>
      <div class="item front">
        <Project 
          title="Frontend project" 
          description="Description gjeklg rjgeior gjkiorg kerop." 
        />
      </div>
      <div class="item full">
        <Project 
          title="Fullstack project" 
          description="Description gjeklg rjgeior gjkiorg kerop." 
        />
      </div>
    </div>
  </div>
</section>

<style>
  #projects .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #title-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .filters {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 2px;
  }
  #projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }


  .active {
    background-color: var(--mode-body);
    color: var(--mode-background);
  }
  @media screen and (max-width: 800px) {
    #projects-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
<script>
  filterSelection("all");

  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("item");
    if (c == "all") {
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "block";
      }
      return;
    }
    for (i = 0; i < x.length; i++) {
      if (x[i].classList.contains(c)) {
        x[i].style.display = "block";
      } else {
        x[i].style.display = "none";
      }
    }
  }

  var btnContainer = document.querySelector(".filters");
  var btns = btnContainer.getElementsByClassName("filter-btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var current = btnContainer.querySelector(".active");
      current.classList.remove("active");
      this.classList.add("active");
      filterSelection(this.id);
    });
  }
</script>