---
import Icon from "./global/flair/Icon.astro";
import Logo from "./global/flair/Logo.astro";
import Link from "./global/interactive/Link.astro";
---

<footer>
  <div class="custom-shape-divider-top-1710627243">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="container">
    <Logo text="A" href="/" style=""/>
    <div id="icon-container">
      <Icon href="http://linkedin.com/in/arweig" style="fa-brands fa-linkedin" size="md" />
      <Icon href="http://linkedin.com/in/arweig" style="fa-brands fa-github" size="md" />
    </div>
    <p id="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, deserunt! Natus voluptates odit libero non..
      <br>
      <Link href="mailto:hello@alyssa.com" text="hello@alyssa.com" style="plain-text"/>
    </p>
    <ul>
      <li>Navigate</li>
      <li><Link href="#about" text="About" style="plain-text"/></li>
      <li><Link href="#projects" text="Projects" style="plain-text"/></li>
      <li><Link href="#contact" text="Contact" style="plain-text"/></li>
    </ul>
    <ul>
      <li>Projects</li>
      <li><Link href="#project-1" text="Project 1" style="plain-text"/></li>
      <li><Link href="#project-2" text="Project 2" style="plain-text"/></li>
      <li><Link href="#project-3" text="Project 3" style="plain-text"/></li>
      <li><Link href="#project-4" text="Project 4" style="plain-text"/></li>
    </ul>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(37, 37, 37);
    position: relative;
  }

  footer .container {
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  #icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    grid-area: 1 / 2 / 2 / 4;
  }

  ul {
    list-style: none;
  }

  li {
    color: white;
  }

  li:first-of-type {
    font-weight: bold;
  }

  .custom-shape-divider-top-1710627243 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1710627243 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 22px;
}

.custom-shape-divider-top-1710627243 .shape-fill {
    fill: rgb(214, 214, 214);
}

  @media screen and (max-width: 800px) {
    footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
    #icon-container { 
      grid-area: 1 / 2 / 2 / 3; 
    }

    #description {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
</style>