---
interface Props {
	href: string;
  text: string;
  style: string;
}

const { href, text, style } = Astro.props;
---
<div id="logo">
  <a href={href} class={style}><h1>{text}</h1></a>
</div>

<style>
  a {
    text-decoration: none;
    display: inline-block;
    color: black;
  }

  h1 {
  }
</style>