---
interface Props {
  style: string;
  text: string;
}

const { style, text } = Astro.props;
---
<div class="tech">
  <i class={style}></i> <p>{text}</p>
</div>

<style>
  .tech {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  i {
    width: 20px;
  }
  
  p {
    font-size: 14px;
  }
  .sm {
    font-size: 12px;
  }

  .md {
    font-size: 24px;
  }

  .lg {
    font-size: 40px;
  }
</style>